#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 680px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: url("../../images/landing.svg") no-repeat 80%;
}

#page-landing .content-wrapper main h1 {
  max-width: 350px;
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}

#page-landing .content-wrapper main p {
  max-width: 350px;
  margin-top: 40px;
  font-size: 24px;
}

.content-wrapper .location {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #ffd666;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.content-wrapper .enter-app:hover {
  background-color: #96feff;
}
